header {
  background: #89cff0;
  height: 60px;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 25px;
}

nav a {
  margin-left: 10px;
  text-decoration: none;
  color: white;
}

nav a.active {
  background: white;
  color: #2c3e50;
  padding: 5px 10px;
  border-radius: 8px;
}

/* 전체 위로 당김 */
.score-wrap {
  height: calc(85vh - 60px);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 14px;
}

/* 제목 */
.title {
  font-size: 32px;
  font-weight: 800;
}

/* 점수 */
.score-number {
  font-size: 90px;
  font-weight: 700;
  color: #89cff0;
}

/* 게이지 */
.bar-wrap {
  width: 80%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.bar {
  flex: 1;
  height: 18px;
  background: #eee;
  border-radius: 20px;
  overflow: hidden;
}

#barFill {
  height: 100%;
  width: 0%;
  background: #89cff0;
}

/* 0,100 표시 */
.min,
.max {
  font-size: 12px;
  color: #2c3e50;
}

/* 한줄평 */
.comment {
  background: #2c3e50;
  color: white;
  padding: 10px 15px;
  border-radius: 10px;
}
